<!DOCTYPE html>
<html>
<head>
  <title>Flashcards</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.min.css" />  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Flashcards</h1>
<%= yield %>
<p id="notice"><%= notice %></p>

</body>
</html>
