<h1>Listing Decks</h1>
<div class="row">
  <div class="large-10 columns">
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Creator</th>
      <th>Preview</th>
      <th>Category</th>
      <th>Language</th>
      <th>Published</th>
      <th>Updated</th>
      <th colspan="5">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @decks.each do |deck| %>
      <tr>
        <td><%= link_to deck.title, deck%></td>
        <td><%= deck.description %></td>
        <td><%= deck.creator %></td>
        <td style="background:#<%= deck.back_color %>;color:#<%= deck.text_color %>">Preview</td>        
        <td><%= deck.category %></td>
        <td><%= deck.language %></td>
        <td><%= deck.created_at.strftime("%B %e, %Y") %></td>
        <td><%= time_ago_in_words(deck.updated_at) %> ago</td>
        <td><%= link_to 'Edit', edit_deck_path(deck) %></td>
        <td><%= link_to 'Manage Cards', deck_cards_path(deck) %></td>
        <td><%= link_to 'Delete', deck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>

<%= link_to 'New Deck', new_deck_path, :class => 'button' %>
