<p>
  <strong>Title:</strong>
  <%= @deck.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @deck.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @deck.category %>
</p>

<p>
  <strong>Published:</strong>
  <%= @deck.published %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @deck.updated %>
</p>

<p>
  <strong>Downloads:</strong>
  <%= @deck.downloads %>
</p>

<p>
  <strong>Views:</strong>
  <%= @deck.views %>
</p>

<p style="display: none;">
  <strong>Flag:</strong>
  <%= @deck.flag_id %>
</p>

<td><%= link_to 'Show Cards', deck_cards_path(@deck) %></td>

<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %> |

