<%= form_for [@deck, @card]  do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this deck from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title, :required => true %>
  </div>
  <div class="field">
    <%= f.label :side_a_text %><br>
    <%= f.text_area :side_a_text, :required => true %>
  </div>
  <div class="field">
    <%= f.label :side_b_text %><br>
    <%= f.text_area :side_b_text, :required => true %>
  </div>
  <div class="field" style="display: none;">
    <%= f.label :side_a_image %><br>
    <%= f.text_field :side_a_image %>
  </div>
  <div class="field" style="display: none;">
    <%= f.label :side_a_math %><br>
    <%= f.text_field :side_a_math %>
  </div>
  <div class="field" style="display: none;">
    <%= f.label :side_b_math%><br>
    <%= f.text_field :side_b_math %>
  </div>
  <div class="field">
    <%= f.label :card_back_color %>
    <% if @card.card_back_color == nil %>
    <%= f.text_field :card_back_color, :class => 'color', :value => @deck.back_color %>
    <% else %>
    <%= f.text_field :card_back_color, :class => 'color'%>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :card_text_color %>
    <% if @card.card_text_color == nil %>
    <%= f.text_field :card_text_color, :class => 'color', :value => @deck.text_color %>
    <% else %>
    <%= f.text_field :card_text_color, :class => 'color'%>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
