<h1>Cards in <%= @deck.title %></h1>
<%= link_to "New Card", new_deck_card_path %>
<table>
  <thead>
    <tr>
      <th>Card Name</th>
      <th>Card Preview</th> 
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><span class="card_side_a"><%= link_to card.title, deck_card_path(@deck, card) %></span></td>
        <td style="background:#<%= card.card_back_color %>; color:#<%= card.card_text_color %>;"><%= card.side_a_text %></br><%= card.side_b_text %></td>
        <td><%= link_to 'Edit', edit_deck_card_path(@deck, card) %></td>
        <td><%= link_to 'Destroy', deck_card_path(@deck, card), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Decks', decks_path%> 

