<h1>Cards in <%= @deck.title %></h1>
<button class="button large"><%= link_to "Create a New Card", new_deck_card_path %></button>
  <div class="row">
  <% @cards.each do |card| %>
    <div class="medium-6 columns">
      <div class="row">
        <h3 class="card_side_a">Card #<%= card.id %> Title: <%= link_to card.card_title, deck_card_path(@deck, card) %></h3>
        <p>
          <%= link_to 'Edit ', edit_deck_card_path(@deck, card) %>|
          <%= link_to 'Delete', deck_card_path(@deck, card), method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      </div>
      <div class="medium-6 columns">
       <div class="card" style="background:#<%= card.card_back_color %>; color:#<%= card.card_text_color %>" data-equalizer-watch>
        <%= card.side_a_text %>
      </div>
      </div>
      <div class="medium-6 columns">
      <div class="card" style="background:#<%= card.card_back_color %>; color:#<%= card.card_text_color %>" data-equalizer-watch>
        <%= card.side_b_text %>
      </div>
      </div>
    </div>
  <% end %>
  </div>
<div>
<table>
  <thead>
    <tr>
      <th>Card Name</th>
      <th>Card Preview</th> 
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><span class="card_side_a"><%= link_to card.card_title, deck_card_path(@deck, card) %></span></td>
        <td style="background:#<%= card.card_back_color %>; color:#<%= card.card_text_color %>;"><strong>Side A: </strong><%= card.side_a_text %></br><strong>Side B: </strong><%= card.side_b_text %></td>
        <td><%= link_to 'Edit', edit_deck_card_path(@deck, card) %></td>
        <td><%= link_to 'Destroy', deck_card_path(@deck, card), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Decks', decks_path%> 
</div>
