<script src="http://hammerjs.github.io/dist/hammer.min.js"></script>
<div class="row">
<div class="medium-4 columns">  
<div class="card" style="background:#<%= @card.card_back_color %>; color:#<%= @card.card_text_color %>;">
  <%= @card.side_a_text %>
</div>
</div>
<div class="medium-4 columns">
<div class="card" style="background:#<%= @card.card_back_color %>; color:#<%= @card.card_text_color %>;">
  <%= @card.side_b_text %>
</div>
</div>
</div>
<% if @card.is_hidden %>
  <p>This card is currently hidden.</p>
<% else %>
  <p>This card is currently visible.</p>
<% end %>
</br>
<%= link_to 'Edit', edit_deck_card_path, :class => 'button'  %>
</br>
<%= link_to 'Back to Deck', deck_cards_path(@deck), :class => 'button'  %>